# .gitignore
# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local files
.env*.local
.env
#package-lock.json

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

postgres_data/

#idea
.idea/

.vscode/

.terraform.lock.hcl
LICENSE.txt
terraform.tfstate
terraform.tfstate.backup
terraform-provider-aws_*
yarn.lock